@import "../../../style/Reset";
@import "../../../style/Variables";

#basket {
  width: 31.813rem;
  position: absolute;
  top: 4rem;
  right: 3rem;
  z-index: 5;
  background: var(--background-color);
  border: 6px solid #EBBE93;
  border-radius: 25px;
  padding: 1rem;

  .basket_logo {
    display: flex;
    justify-content: space-between;

    &__img {
      width: 40%;
    }

    &__span {
      &__click {
        font-size: 2rem;
        color: #EBBE93;
        cursor: pointer;
        transition: .1s;

        &:active, &:hover {
          color: red;
        }
      }
    }
  }

  .basket_product_false {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;

    &__item {
      width: 15rem;
      height: 13rem;
      border: 5px solid #E5AC77;
      border-radius: 31px;
      padding: 1rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      &__img {
        width: 55%;
      }

      &__desc {
        padding: 0 3rem;
        @include par;
        line-height: 24px;
        text-align: center;
      }
    }

    &__link {
      padding-top: 1rem;

      &__btn {
        @include btn;
        background: var(--card-background-color);
        font-size: 1.25rem;
      }
    }
  }

  .basket_product_true {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__elem {
      width: 60%;
      height: 15rem;
      overflow-y: auto;
      overflow-x: hidden;
      background: var(--card-background-color);
      border-radius: 13px;
      padding: 0.5rem;
      margin-right: 0.5rem;
      &::-webkit-scrollbar {
        width: 4px; /* ширина для вертикального скролла */
        height: 3px; /* высота для горизонтального скролла */
        background-color: var(--card-background-color);
        border-radius: 9em;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #AF8057;
        border-radius: 9em;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #463b32;
      }
    }

    &__item {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      textarea{
        width: 95%;
        padding: 0.5rem;
        border: 2px solid #EBBE93;
        color: #AF8057;
        background: var(--card-background-color);
        border-radius: 9px;
        outline: none;
        resize: none;
        &::placeholder{
          color: var(--placeholder-color);
        }
      }
      &__price{
        width: 100%;
        background: var(--card-background-color);
        padding: 0.6rem 0.2rem;
        border: 2px solid #EBBE93;
        border-radius: 9px;
        margin: 1rem 0;

        &__title{
          @include title;
        }
      }
      &__button{
        width: 100%;
        &__btn{
          @include btn;
          width: 100%;
          font-size: 1rem;
          background: var(--card-background-color);
          border: 2px solid #EBBE93;
          border-radius: 5px;
          padding: 0.5rem 0.9rem;
        }
      }
    }
  }
}