@import "../../../style/Reset";
@import "../../../style/Variables";

#hero {
  padding: 0;

  .hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.1rem 0;

    &__block {
      width: 20%;
      background: var(--card-background-color);
      border-radius: 15px;
      border: 1px solid #E5AC77;
      margin-bottom: 0.8rem;

      &__link {
        width: 100%;

        &__image {
          width: 100%;
          height: 120px;
          border-radius: 15px 15px 0 0;
          border: none;
        }

        &__title {
          @include title;
          font-size: 1.1rem;
          padding-left: 0.6vw;
          padding-bottom: 0.3rem;
        }
      }
    }
  }
}