@import "../../../style/Reset";
@import "../../../style/Variables.css";

#search {
  .search {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__card {
      width: 20%;
      border: 1px solid #E6AC77;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 1rem;

      &__img {
        width: 100%;
        height: 120px;
      }

      &__item {
        padding: 0.4rem;

        &__title {
          width: 100%;
          height: 2rem;
          position: relative;
          margin-bottom: 0.2rem;
          &__elem {
            @include title;
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        &__volume {
          @include title;
          margin: 0.3rem 0;
        }

        &__elem {
          display: flex;
          justify-content: space-between;

          &__price {
            @include title;
          }

          &__btn {
            @include btn;
            background: var(--card-background-color);
          }
        }
      }
    }
  }
}