@import "Variables";

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  //padding: 0 15px;
  margin: 0 auto;
}

a, a:hover {
  text-decoration: none;
}

#root {
  width: 1024px;
  margin: 0 auto;
}

body, html {
  transition: .2s;
  background-color: var(--background-color);
}

@mixin title {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #E6AC77;
}

@mixin par {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #E6AC77;
}

@mixin btn {
  box-sizing: border-box;
  padding: 5px 10px;
  border: 1px solid #E6AC77;
  background: #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
  @include title;
  font-size: 12px;
  transition: .3s;

  &:hover {
    background: #E6AC77;
    color: #FFFFFF;
    transform: scale(1.02);
  }
  &:active {
    opacity: 80%;
  }
}